
header {
  background-color: #4ea0ff;
  background-image: url(./img/pattern.png);
  background-size: 30%;
  width: 100%;
  
}

#logo {
  width: 20%;
  margin-top: 41px;
  background-repeat: repeat;
}
h1 {
  font-size: 50px;
  margin-bottom: 0;
  margin-top: 10px;
}
#author {
  color: #47b8e9;
}

.scrittore {
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 20px;
}
.important {
  background-color: #ffff00;
}
.intestazione {
  background-color: #20a9e5;
  color: white;
}
table {
  width: auto;
  text-align: left;
  border-collapse: collapse;
}
td{
  white-space: nowrap;
  text-align: left;
}
.pointtwo {
  background-color: #b1e5f2;
}
.lastline {
  background-color: #b1e5f2;
}
#consigli {
  color: gray;
}
.pc {
  background-image: url(img/monitor.jpg);
  position: absolute;
}
.sopra {
  position: absolute;
  margin-top: 0;
  text-align: center;
}
